<form action="/places" method="post">
  <p>
    <label for="name">Place Name:</label>
    <input type="text" name="name" id="name">
  </p>
  
  <input type="submit" name="commit" value="Create Place">
</form>